<mat-nav-list>
  <mat-list-item class="menu" routerLinkActive="activeLink">
    <a routerLink="/dashboard">
      <button mat-button>
        <mat-icon>dashboard</mat-icon>
        DASHBOARD
      </button>
    </a>
  </mat-list-item>

  <mat-list-item class="menu" routerLinkActive="activeLink">
    <a routerLink="/medic">
      <button mat-button>
        <mat-icon>settings_accessibility</mat-icon>
        MEDIC
      </button>
    </a>
  </mat-list-item>

  <mat-list-item class="menu" routerLinkActive="activeLink">
    <a routerLink="/driver">
      <button mat-button>
        <mat-icon>folder</mat-icon>
        DRIVER
      </button>
    </a>
  </mat-list-item>

  <mat-list-item class="menu" routerLinkActive="activeLink">
    <a routerLink="/history">
      <button mat-button>
        <mat-icon>storage</mat-icon>
        HISTORY
      </button>
    </a>
  </mat-list-item>
</mat-nav-list>
