<mat-toolbar fxLayout fxLayoutAlign="space-between center">
  <h3>Action</h3>
  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar>
<form mat-dialog-content fxLayout="column">
  <div fxLayout fxLayoutGap="20px">
    <div fxLayout="column" fxFlex="1 1 33%">
      <amb-photo></amb-photo>
    </div>
    <div fxLayout="column" fxFlex="1 1 33%">
      <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input type="text" matInput required />
        <mat-error>Name is required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Segundo nombre</mat-label>
        <input type="text" matInput required />
        <mat-error>Surname is required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Apellido</mat-label>
        <input type="text" matInput required />
        <mat-error>Lastname is required</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="column" fxFlex="1 1 33%">
      <mat-form-field appearance="outline">
        <mat-label>CMP</mat-label>
        <input type="text" matInput required />
        <mat-error>CMP is required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>DNI</mat-label>
        <input type="text" matInput required />
        <mat-error>DNI is required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Correo</mat-label>
        <input type="text" matInput required />
        <mat-error>Email is required</mat-error>
      </mat-form-field>
    </div>
  </div>

  <div fxLayout fxLayoutAlign="end" fxLayoutGap="20px">
    <button mat-raised-button color="primary" type="button">Save</button>
    <button mat-button mat-dialog-close type="button">Cancel</button>
  </div>
</form>
