<amb-title title="MEDIC" icon="settings_accessibility">
  <button mat-raised-button color="primary" (click)="showForm()">
    <mat-icon>add</mat-icon>
    <span>ADD MEDIC</span>
  </button>
</amb-title>
<amb-container>
  <perfect-scrollbar class="maxHeightPerfectScrollbar">
    <amb-table [metadata]="metadata" [data]="data"></amb-table>
  </perfect-scrollbar>
  <div>
    <amb-paginator
      (onChangePage)="changePage($event)"
      [length]="totalRecords"
      [pageSize]="pageSize"
    ></amb-paginator>
  </div>
</amb-container>
